<md-dialog layout="column" flex="50" aria-label="dialog gcm">
  <form role="form" name="thisForm" id="thisForm" novalidate>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>ارسال ناتیفیکیشن</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Close dialog">clear</md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-dialog-content class="autoScroll" style="max-width:800px;max-height:810px;">
		<code ng-if="object != null">آیدی : {{object.regid}} <br><br></code>
        <div layout="row">
          <md-input-container flex="60">
            <label>عنوان</label>
            <input required name="title" ng-model="body.title" minlength="2" maxlength="50">
            <div ng-messages="thisForm.title.$error">
              <div ng-message="required">الزامی</div>
              <div ng-message='minlength'>حداقل ۲ کارکتر</div>
              <div ng-message='maxlength'>حداکثر ۵۰ کارکتر</div>
            </div>
          </md-input-container>
        </div>

        <md-input-container flex="100">
          <label>متن</label>
          <textarea required name="content" ng-model="body.content" rows="2" maxlength="100"></textarea>
          <div ng-messages="thisForm.content.$error">
            <div ng-message="required">الزامی</div>
            <div ng-message='minlength'>حداقل ۲ کارکتر</div>
            <div ng-message='maxlength'>حداکثر ۱۰۰ کارکتر</div>
          </div>
        </md-input-container>

        <md-divider></md-divider>
        <br>
        <!-- result view -->
        <div ng-if="showResult">
          <success ng-if="result.status == 'success'">ارسال شد</success>
          <failed ng-if="result.status == 'failed'">شکست خورد</failed>
          <comment>&nbsp;&nbsp;{{result.msg}}</comment>
        </div>
        <br>
        <p class="hint">این داده ها در نوار اعلان تلفن کاربر نمایش داده می شود</p>

      </md-dialog-content>

      <div class="md-actions md-padding" layout="row">
        <span flex></span>
        <md-button ng-if="!submit_loading" class="md-warn" ng-click="hide()" >
         لغو
        </md-button>
        <md-button class="md-raised md-accent" ng-if="!submit_loading" ng-disabled="thisForm.$invalid" ng-click="submit(body)" style="margin-right:20px;" >
          ارسال
        </md-button>
        <md-progress-circular ng-if="submit_loading" class="md-accent" md-mode="indeterminate" md-diameter="30px"></md-progress-circular>
      </div>

  </form>

</md-dialog>